@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

span {
  // smaller text labels on smaller screens
  @include media-breakpoint-up(xs) {
    font-size: 0.8rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 0.9rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1rem;
  }
}
