<nav class="navbar navbar-expand-lg flex-shrink-0 bg-body-secondary">
  <section class="container-fluid">
    <a class="navbar-brand" href="#">
      <!--suppress CheckImageSize -->
      <img alt="Brand" class="d-inline-block align-text-top" height="24" src="brand-logo/empa-brand-logo2.png" />
      Supply Rating Software
    </a>
    <ul class="navbar-nav ms-auto align-items-center">
      <li class="d-none d-lg-flex">
        <form class="d-flex" role="search">
          <input aria-label="Search" class="form-control me-2" placeholder="Search" type="search" />
          <button class="btn btn-body-secondary" type="submit">Search</button>
        </form>
      </li>
      <li class="ms-2">
        <app-theme-switcher></app-theme-switcher>
      </li>
    </ul>
  </section>
</nav>
