<nav class="navbar navbar-expand-lg flex-shrink-0 bg-body-secondary">
  <section class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- TODO: suppress CheckImageSize -->
      <img alt="Brand" class="d-inline-block align-text-top" height="24" src="brand-logo/empa-brand-logo2.png" />
      Supply Rating Software
    </a>
    <ul class="navbar-nav ms-auto align-items-center">
      <li class="ms-2">
        <app-theme-switcher></app-theme-switcher>
      </li>
    </ul>
  </section>
</nav>
