:host {
  display: block;
  height: 100vh;
}

:host ::ng-deep app-list-item.bg-primary-subtle .list-card {
  background-color: var(--bs-primary-light);
  border-color: var(--bs-primary);
  transition: all 0.2s ease-in-out;
}

.form-control-plaintext {
  padding-left: 0.5rem;
  font-weight: 500;
  border-bottom: 1px solid var(--bs-border-color);
}
