<!--<div class="container-fluid h-100 p-0 overflow-hidden">-->
<!--  <div class="row g-0 h-100">-->
<!--    <div class="d-flex flex-column p-2 h-100 position-relative transition-all">-->
<!--      &lt;!&ndash;      [class]="selectedSupplier() ? 'col-md-4 border-end' : 'col-12'"&ndash;&gt;-->
<!--      <app-toast [message]="errorMessage()" (exitToast)="closeToast()"></app-toast>-->
<!--      <app-list-search class="mb-3"></app-list-search>-->

<!--      &lt;!&ndash;      <ul class="list-unstyled overflow-auto flex-grow-1 px-2">&ndash;&gt;-->
<!--      &lt;!&ndash;        @for (item of suppliers(); track item.id) {&ndash;&gt;-->
<!--      &lt;!&ndash;          <app-list-item&ndash;&gt;-->
<!--      &lt;!&ndash;            [label]="item.name"&ndash;&gt;-->
<!--      &lt;!&ndash;            [icon]="UserIcon"&ndash;&gt;-->
<!--      &lt;!&ndash;            (itemSelected)="selectSupplier(item)"&ndash;&gt;-->
<!--      &lt;!&ndash;            (editSelected)="openEditSupplierModal(item)"&ndash;&gt;-->
<!--      &lt;!&ndash;            [class.selected-item]="selectedSupplier()?.id === item.id">&ndash;&gt;-->
<!--      &lt;!&ndash;          </app-list-item>&ndash;&gt;-->
<!--      &lt;!&ndash;        } @empty {&ndash;&gt;-->
<!--      &lt;!&ndash;          <li class="text-center mt-5 text-muted small">Keine Lieferanten gefunden.</li>&ndash;&gt;-->
<!--      &lt;!&ndash;        }&ndash;&gt;-->
<!--      &lt;!&ndash;      </ul>&ndash;&gt;-->

<!--      <app-add-btn (action)="openSupplierModal()"></app-add-btn>-->
<!--    </div>-->

<!--    &lt;!&ndash;    <div&ndash;&gt;-->
<!--    &lt;!&ndash;      [class.d-none]="!selectedSupplier()"&ndash;&gt;-->
<!--    &lt;!&ndash;      class="col-md-8 h-100 overflow-auto bg-body border-start position-relative shadow-sm">&ndash;&gt;-->
<!--    &lt;!&ndash;      @if (selectedSupplier()) {&ndash;&gt;-->
<!--    &lt;!&ndash;        <button&ndash;&gt;-->
<!--    &lt;!&ndash;          type="button"&ndash;&gt;-->
<!--    &lt;!&ndash;          class="btn-close position-absolute top-0 end-0 m-4 z-3"&ndash;&gt;-->
<!--    &lt;!&ndash;          aria-label="Schließen"&ndash;&gt;-->
<!--    &lt;!&ndash;          (click)="closeDetail()"></button>&ndash;&gt;-->
<!--    &lt;!&ndash;      }&ndash;&gt;-->

<!--    &lt;!&ndash;      <app-panel-form-supplier [supplier]="selectedSupplier()"></app-panel-form-supplier>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<div class="container-fluid d-flex flex-column p-2 h-100 position-relative">
  <app-toast [message]="errorMessage()" (exitToast)="closeToast()"></app-toast>
  <app-list-search class="mb-3"></app-list-search>
  <ul class="list-unstyled ms-1 ms-md-3 me-1 me-md-3">
    @for (item of suppliers(); track item.id) {
      <app-list-item [label]="item.name" [icon]="UserIcon"></app-list-item>
    }
  </ul>
</div>
<app-add-btn (action)="openSupplierModal()"></app-add-btn>
