<li>
  <div class="supplier-card d-flex align-items-center mt-2 mb-2 p-2 rounded-4 shadow bg-body-tertiary border">
    <i-lucide
      [img]="UserStar"
      [size]="36"
      [strokeWidth]="1.5"
      class="flex-grow-0 ps-2 me-2"
      aria-hidden="true"></i-lucide>
    <p class="text-body flex-grow-1 ms-2 m-auto">Lieferant X</p>
    <button type="button" class="btn align-items-center border border-1 rounded-3 me-2 m-auto" aria-label="Bearbeiten">
      <i-lucide [img]="Pencil" [size]="18" [strokeWidth]="1.5" aria-hidden="true"></i-lucide>
    </button>
  </div>
</li>
