.list-card {
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translateY(-1px);
    box-shadow: var(--bs-box-shadow-lg) !important;
  }
}

#editBtn:hover {
  background-color: var(--bs-secondary-bg);
}

button {
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}
