<li>
  <div
    class="btn btn-outline-secondary list-card d-flex align-items-center mt-2 mb-2 p-2 rounded-4 shadow border"
    [class.bg-body-tertiary]="!isActive()"
    [class.active]="isActive()">
    <button
      type="button"
      class="btn d-flex align-items-center flex-grow-1 border-0 p-0 text-start text-body overflow-hidden"
      aria-label="Item öffnen"
      (click)="showContent()">
      <i-lucide
        [img]="icon()"
        [size]="36"
        [strokeWidth]="1.3"
        class="flex-grow-0 ps-2 me-2"
        aria-hidden="true"></i-lucide>
      <div class="row flex-grow-1 m-0 align-items-center overflow-hidden">
        <div class="col-12 col-md-4 text-truncate ps-2 text-start">{{ label() }}</div>
        <div
          class="d-none d-md-block text-truncate ps-2"
          [class.col-md-4]="icon() !== User"
          [class.col-md-2]="icon() === User"
          [class.text-start]="icon() !== User"
          [class.text-center]="icon() === User"
          [class]="secondaryLabelClass()">
          {{ labelSecondary() }}
        </div>
      </div>
    </button>
    <button
      id="editBtn"
      type="button"
      class="btn align-items-center border border-1 rounded-3 me-2 ms-2"
      aria-label="Bearbeiten"
      (click)="editContent()">
      <i-lucide [img]="Pencil" [size]="18" [strokeWidth]="1.5" aria-hidden="true"></i-lucide>
    </button>
  </div>
</li>
