@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.floating-add-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1050;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;

  /* Adjust position for mobile devices */
  @include media-breakpoint-down(md) {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
