<div class="container-fluid d-flex flex-column p-2 h-100 position-relative">
  <app-toast [message]="errorMessage()" (exitToast)="closeToast()"></app-toast>
  <app-list-search class="mb-3" (searchChange)="searchTerm.set($event)"></app-list-search>
  <ul class="list-unstyled ms-1 ms-md-3 me-1 me-md-3">
    @for (item of filteredOrders(); track item.id) {
      <app-list-item
        [label]="item.name"
        [icon]="UserIcon"
        (click)="openDetailPanel(item)"
        (editSelected)="openEditOrderModal(item)">
      </app-list-item>
    }
  </ul>
</div>
<app-add-btn (action)="openOrderModal()"></app-add-btn>
