<div class="container-fluid d-flex flex-column p-2 h-100 position-relative">
  <app-toast [message]="errorMessage()" (exitToast)="closeToast()"></app-toast>
  <app-list-search class="mb-3" (searchChange)="searchTerm.set($event)"></app-list-search>
  <app-list-item-headers
    [header]="'Bestellname'"
    [header2]="'Lieferantenname'"
    [header3]="'Bewertungstatus'"></app-list-item-headers>
  <ul class="list-unstyled ms-1 ms-md-3 me-1 me-md-3">
    @for (item of filteredOrders(); track item.id) {
      <app-list-item
        [label]="item.name"
        [label2]="item.supplierName?.toString()"
        [label3]="item.ratingStatus?.toString()"
        [icon]="NotepadText"
        [isActive]="item.id === selectedOrderId()"
        (itemSelected)="openDetailPanel(item)"
        (editSelected)="openEditOrderModal(item)">
      </app-list-item>
    }
  </ul>
</div>
<app-add-btn (action)="openAddOrderModal()"></app-add-btn>
