<aside
  [class.collapsed]="isCollapsed()"
  [class.mobile-open]="isMobileMenuOpen()"
  class="sidebar d-flex flex-column flex-shrink-0 p-1 h-100 shadow">
  <div class="d-flex flex-column align-items-center mb-auto mt-3">
    <div class="flex-grow-1 d-flex align-items-center">
      <span class="fs-4 sidebar-text me-5">Menü</span>
      <button (click)="toggleSidebar()" class="btn ms-auto d-none d-md-block">
        @if (isCollapsed()) {
          <i-lucide [img]="ChevronRight" [strokeWidth]="1.3"></i-lucide>
        } @else {
          <i-lucide [img]="ChevronLeft" [strokeWidth]="1.3"></i-lucide>
        }
      </button>
    </div>

    <ul class="nav d-flex flex-column mt-3">
      <li class="nav-item">
        <a
          [routerLink]="['/', baseRoute, 'dashboard']"
          class="nav-link d-flex align-items-center"
          routerLinkActive="active"
          ariaCurrentWhenActive="page">
          <i-lucide [img]="LayoutDashboard" [strokeWidth]="1.3"></i-lucide>
          <span class="sidebar-text ms-3 me-1">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/', baseRoute, 'orders']"
          class="nav-link d-flex align-items-center"
          routerLinkActive="active"
          ariaCurrentWhenActive="page">
          <i-lucide [img]="NotepadText" [strokeWidth]="1.3"></i-lucide>
          <span class="sidebar-text ms-3 me-1">Bestellungen</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/', baseRoute, 'suppliers']"
          class="nav-link d-flex align-items-center"
          routerLinkActive="active"
          ariaCurrentWhenActive="page">
          <i-lucide [img]="User" [strokeWidth]="1.5"></i-lucide>
          <span class="sidebar-text ms-3 me-1">Lieferanten</span>
        </a>
      </li>
    </ul>
  </div>

  <hr />

  <div class="dropdown m-2" ngbDropdown>
    <a
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      ngbDropdownToggle
      role="button"
      style="cursor: pointer">
      <!-- TODO: Display dynamic username -->
      <img alt="" class="rounded-circle me-2" height="32" src="https://github.com/mdo.png" width="32" />
      <strong class="sidebar-text">Testuser</strong>
    </a>
    <ul aria-labelledby="dropdownUser1" class="dropdown-menu text-small shadow" ngbDropdownMenu>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</aside>
