.sidebar {
  width: 200px;
  transition: width 0.4s ease;
  background-color: var(--bs-tertiary-bg);

  &.collapsed {
    width: 80px;

    .sidebar-text {
      display: none;
    }

    .nav-link {
      margin: 0.25rem auto;
      padding: 0.75rem;
    }
  }

  .sidebar-text {
    //transition: opacity 0.2s ease-in-out 0.2s;
    color: var(--bs-body-color);
  }

  .nav-link {
    /* Use body color with some transparency for non-active links */
    color: rgba(var(--bs-body-color-rgb), 0.7);
    margin: 0.25rem 0.5rem;
    padding: 0.75rem 1rem;
    transition: none;

    &.active,
    &:hover {
      background-color: var(--bs-secondary-bg);
      color: var(--bs-body-color-rgb);
      border-radius: 50rem;
    }
  }
}

aside i-lucide {
  color: var(--bs-emphasis-color);
}

@media (max-width: 768px) {
  .sidebar {
    width: 80px;

    .sidebar-text {
      display: none;
    }

    #sidebar-toggle {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
